:root {
  --text: white;
  --background: #222;
  --light-text: #EFE0E0;
  --light-background: #4E4E4E;
}

[data-theme='light'] {
  --text: #222;
  --background: white;
  --light-text: #4E4E4E;
  --light-background: #EFE0E0;
}
